#main-menu-button {
	float: left;
	display: block;
	width: 25px;
	height: 22px;
	margin: 0.2rem;
	background-color: var(--color-bg-default);
}
#main-menu-toggle {
	display: none;
}
#main-menu-button .button-decor, #main-menu-button .button-decor::after, #main-menu-button .button-decor::before {
	width: 25px;
	height: 4px;
	background-color: #666;
	border-radius: 3px;
	border-width: 0;
	backface-visibility: hidden;
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 2;
}
#main-menu-button .button-decor::after, #main-menu-button .button-decor::before {
	content: "";
	position: absolute;
	left: 0;
}
#main-menu-button .button-decor {
	position: relative;
	top: 4px;
}
#main-menu-button .button-decor::after {
	top: 18px;
}
#main-menu-button .button-decor::before {
	top: 9px;
}
#main-menu-button .toggle-button {
	display: block;
	position: relative;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	cursor: pointer;
	z-index: 3;
}
#main-menu-toggle:checked ~ .button-decor {
	top: 13px;
	transform: rotate(45deg);
}
#main-menu-toggle:checked ~ .button-decor::after {
	top: 0;
	transform: rotate(90deg);
}
#main-menu-toggle:checked ~ .button-decor::before {
	top: 0;
	transform: rotate(0);
}
.menu-box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	bottom: 0;
	margin: 0;
	min-width: 16rem;
	padding: 3rem 0;
	overflow: auto;
	list-style: none;
	background-color: var(--color-bg-header);
	box-shadow: 3px 0px 6px var(--color-sh-default);
	transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
	z-index: 1;
}
.menu-box ul {
	list-style: none;
	padding: 0;
}
.menu-box > li {
	border-top: 1px solid var(--color-br-menu);
}
.menu-box > li:last-child {
	border-bottom: 1px solid var(--color-br-menu);
}
.menu-box li li {
	background-color: var(--color-bg-default);
	border-bottom: 1px solid var(--color-br-submenu);
}
.menu-box li a, .menu-box li span {
	display: block;
	padding: 0.5rem 1.5rem;
	color: var(--color-fg-menu);
	font-size: 125%;
	text-decoration: none;
	cursor: pointer;
}
.menu-box a:hover {
	color: #fff;
	background-color: #c45;
}
#main-menu-toggle:checked ~ .menu-box {
	visibility: visible;
	left: 0;
}
.menu-box li span::after {
	content: "";
	width: 10px;
	height: 10px;
	margin-top: 9px;
	border-top: 3px solid #444;
	border-right: 3px solid #444;
	float: right;
	border-top-right-radius: 3px;
	transform: rotate(315deg);
}
.menu-box li.closed span::after {
	margin: 3px;
	transform: rotate(135deg);
}
.menu-box .closed .submenu {
	display: none;
}
.menu-box .about {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 75%;
	border: 0;
}
.menu-box .about a {
	padding: .95rem;
	text-decoration: underline;
}
.submenu .selected {
	border-left: 0.2em solid #c45;
}

