# EditorConfig is awesome: https://EditorConfig.org

# See: https://github.com/editorconfig-checker/editorconfig-checker#readme for checking

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,html,css}]
indent_style = tab

[/*.{php,html}]
insert_final_newline = false

[LICENSE]
indent_size = false

[tests/classes/**/*.php]
indent_size = false

[classes/Report/SummaryReport.php]
indent_size = false
